body {
  background: #eee;
}

.container {
  background: #fff;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 200px;
  width: 600px;
}

h2 {
  color: #fff;
  padding: 3px;
  border-bottom: 5px solid #A7DBD8;
  background: #69D2E7;
  margin-left: -80px;
  margin-right: -30px;
}

h2 .section {
  width: 80px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}

.block {
  padding: 0px 10px;
  margin-bottom: 30px;
}

.block-example {
  position: relative;
  padding: 10px;
  padding-top: 20px;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

.block-example-modifier {
  position: absolute;
  right: 0;
  top: 0;
  background: #aaa;
  color: white;
  padding: 2px 3px;
  font-style: normal;
  font-size: 11px;
}

.block-modifiers {
  width: 100%;
  margin-bottom: 10px;
}

.block-modifiers td:first-child {
  width: 30%;
}

code pre {
  background: #E0E4CC;
  padding: 10px;
}
