body {
  background: #eee;
}

.container {
  background: #fff;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 200px;
  width: 600px;
}

.section {
  color: #fff;
  padding: 3px;
  margin-right: -30px;
  text-shadow: 1px 1px 1px #555;
  border-bottom: 5px solid #A7DBD8;
  background: #69D2E7;
  margin-left: -60px;
}

.module {
  background: #F38630;
  border-bottom: 5px solid #FA6900;
  margin-left: -80px;
}

.section a,
.section a:hover,
.section a:visited,
.section a:hover:visited {
  color: #fff;
  text-decoration: none;
  display: block;
}

.section .section-number {
  width: 60px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}

.module .section-number {
  width: 80px;
}

.block {
  padding: 0px 10px;
  margin-bottom: 30px;
}

.block-example {
  position: relative;
  padding: 10px;
  padding-top: 20px;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

.block-example-modifier {
  position: absolute;
  right: 0;
  top: 0;
  background: #aaa;
  color: white;
  padding: 2px 3px;
  font-style: normal;
  font-size: 11px;
  font-family: monospace;
}

.block-example-modifier:active,
.block-example-modifier:visited {
  color: white;
}

.block-modifiers {
  width: 100%;
  margin-bottom: 20px;
}

.block-modifiers tr:nth-child(odd) {
  background: #f9f9f9;
}

.block-modifiers td:first-child {
  width: 30%;
  font-family: monospace;
}

.block-modifiers a,
.block-modifiers a:visited {
  color: black;
}

code pre {
  border: 2px dotted #e0e4cc;
  padding: 10px;
}

aside {
  position: fixed;
  margin-left: 900px;
  background: white;
  padding: 10px;
  height: 100%;
}

.toc {
  list-style: none;
  padding-left: 10px;
}

.toc a {
  color: black;
}

.toc li {
  margin-bottom: 4px;
}

.toc-section {
  width: 50px;
  display: inline-block;
}
