<!DOCTYPE html>
<html>
  <head>
    <title>gerrard</title>
    <link rel="stylesheet" href="{{ css_file }}" />
    <style>
      {% include 'style.css' %}
    </style>
    <style>
      {{ pygments_highlight }}
    </style>
  </head>
  <body>
    <div class="container">

    {% for block in blocks %}
      <h2>
        <a href="#{{ block.section }}" name="{{ block.section }}">
          <span class="section">{{ block.section }}</span> {{ block.name }}
        </a>
      </h2>
      <div class="block">

      {% if block.description %}
        <p>{{ block.description }}</p>
      {% endif %}

      {% if block.modifiers %}
        <table class="block-modifiers">
          {% for mod in block.modifiers %}
          <tr>
            <td>
              <a href="#{{ block.section }}-{{ mod.markup_class }}">{{ mod.klass }}</a>
            </td>
            <td>{{ mod.description }}</td>
          </tr>
          {% endfor %}
        </table>
      {% endif %}

      {% if block.example %}
        <div class="block-example">
          {{ block.example.replace('$modifier', '') }}
        </div>
        {% for mod in block.modifiers %}
          <div class="block-example">
            <a href="#{{ block.section }}-{{ mod.markup_class }}" name="{{ block.section}}-{{ mod.markup_class }}" class="block-example-modifier">{{ mod.klass }}</a>
            {{ block.example.replace('$modifier', mod.markup_class) }}
          </div>
        {% endfor %}
        <code>{{ block.example|highlight_html }}</code>
      {% endif %}
      </div>
    {% endfor %}

    </div>
  </body>
</html>
